---
//Var
const { platform, username, icon } = Astro.props;

const url = platform === 'Linkedin' 
  ? `https://www.${platform}.com/in/${username}` 
  : `https://www.${platform}.com/${username}`;
---

<a href={url} target="_blank" class="p-4 text-[#403d58] no-underline text-xl hover:text-[#177E89] dark:text-[#F2EDE3]" >
  <i class={icon}></i> {platform}
</a>